[Unit]
Description=Zcore UDM Daemon
After=networking.service

[Service]
Type=simple

Restart=always
ExecStart=/usr/bin/zcore-udmd -c /etc/zcore/udm.yaml
RestartSec=2
RestartPreventExitStatus=1
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
