[Unit]
Description=sgwu spgw1 Service
#After=rxtx.service
#BindsTo=rxtx.service
#PartOf=rxtx.service

[Service]
Type=simple
LimitCORE=infinity
Restart=always
RestartSec=10s
ExecStart=/usr/bin/zcore-sgwud-dpdk -c /etc/zcore/sgwu_dpdk.yaml
#StandardOutput=file:/var/log/open5gs
#StandardError=file:/dev/null
#ExecStop=/opt/myapp/B_service.sh -a stop

[Install]
WantedBy=multi-user.target

