[Unit]
Description=neon UDM Daemon
After=networking.service

[Service]
Type=simple

Restart=always
ExecStart=/usr/bin/neon-udmd -c /etc/neon/udm.yaml
RestartSec=2
RestartPreventExitStatus=1
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
