[Unit]
Description=neon PCF Daemon
Wants=mongodb.service mongod.service

[Service]
Type=simple

Restart=always
ExecStart=/usr/bin/neon-pcfd -c /etc/neon/pcf.yaml
RestartSec=2
RestartPreventExitStatus=1
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
