[Unit]
Description=neon UDR Daemon
Wants=mongodb.service mongod.service

[Service]
Type=simple

Restart=always
ExecStart=/usr/bin/neon-udrd -c /etc/neon/udr.yaml
RestartSec=2
RestartPreventExitStatus=1
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
