db_uri: mongodb://{{ mongodb.addr }}/{{ mongodb.db }}

logger:
    file: {{ default_core_log_dir_5g }}/nrf.log

tls:
    enabled: {{ tls.enabled }}
    server:
      cacert: {{ default_core_configs_dir_5g }}/tls/ca.crt
      key: {{ default_core_configs_dir_5g }}/tls/nrf.key
      cert: {{ default_core_configs_dir_5g }}/tls/nrf.crt
    client:
      cacert: {{ default_core_configs_dir_5g }}/tls/ca.crt
      key: {{ default_core_configs_dir_5g }}/tls/nrf.key
      cert: {{ default_core_configs_dir_5g }}/tls/nrf.crt

#nrf:
#    sbi:
#      - addr: {{ nrf.sbi }}
#        port: 7777

scp:
    sbi:
      - addr: {{ scp.sbi }}
        port: 7777

parameter:
max:
  ue: {{ max.ue }}
  peer: {{ max.peer }}
pool:
time:
