db_uri: mongodb://{{ mongodb.addr }}/{{ mongodb.db }}
logger:
    file: {{ default_core_log_dir_5g }}/scp.log

tls:
    enabled: {{ tls.enabled }}
    server:
      cacert: {{ default_core_configs_dir_5g }}/tls/ca.crt
      key: {{ default_core_configs_dir_5g }}/tls/scp.key
      cert: {{ default_core_configs_dir_5g }}/tls/scp.crt
    client:
      cacert: {{ default_core_configs_dir_5g }}/tls/ca.crt
      key: {{ default_core_configs_dir_5g }}/tls/scp.key
      cert: {{ default_core_configs_dir_5g }}/tls/scp.crt

scp:
    sbi:
      - addr: {{ scp.sbi }}
        port: 7777

nrf:
    sbi:
      - addr:
          - {{ nrf.sbi }}
        port: 7777

parameter:
max:
  ue: {{ max.ue }}
  peer: {{ max.peer }}
pool:
sockopt:
sctp:
time:
